// Globals
$transition-duration: var(--zen-transition-duration, 0.4s);
$outline: var(--zen-outline, 2px solid hsl(200deg 100% 50% / 50%));

:host {
  --zen-button-padding: 0.5rem 1rem;
  --zen-button-bg-color: hsl(0deg 0% 0%);
  --zen-button-bg-color-hover: hsl(0deg 0% 20%);
  --zen-button-color: hsl(0deg 0% 100%);
  --zen-button-shadow: 0 2px 4px hsl(0deg 0% 0% / 10%);
  --zen-button-border-radius: var(--border-radius-sm);
}

/* stylelint-disable-next-line no-duplicate-selectors -- separate variables and styles */
:host {
  padding: var(--zen-button-padding);
  background-color: var(--zen-button-bg-color);
  color: var(--zen-button-color);
  box-shadow: var(--zen-button-shadow);
  display: inline-block;
  font-size: 14px;
  font-weight: bold;
  text-align: center;
  cursor: pointer;
  border: none;
  border-radius: var(--zen-button-border-radius);
  transition-property: background-color, opacity;
  transition-duration: $transition-duration;
  transition-timing-function: ease;
  text-decoration: none;
  overflow: hidden;
  position: relative;

  &.ghost {
    background: transparent;
  }

  &.icon {
    padding: 0.25rem;
  }
}

/* Hover state */
:host:hover {
  background-color: var(--zen-button-bg-color-hover);
}

/* Focus state */
:host:focus-visible {
  outline: $outline;
}

/* Disabled state */
:host[aria-disabled]:not([aria-disabled='false']),
:host[disabled]:not([disabled='false']) {
  cursor: not-allowed;
  opacity: 0.6;
}
