:root {
  --ff: 'Manrope', sans-serif;
  --h1: 700 1.5rem/1.2em var(--ff);
  --h2: 700 1.25rem/1.4em var(--ff);
  --h3: 700 1.125rem/1.4em var(--ff);
  --p: 400 1rem/1.6em var(--ff);
  --small: 400 0.75rem/1.6em var(--ff);
}
