@use 'styles/theme';
@use 'styles/abstracts';
@use 'styles/utilities';

/* Reset styles */
*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  font: inherit;
}

img, picture,svg, video {
  display: block;
  max-width: 100%;
}

/* Global CSS */
body {
  background: var(--bg-dark);
  color: var(--text);
  margin: var(--space-2);
}

main {
  background: var(--bg);
  border-radius: var(--border-radius-xl);
}

h1 {
  font: var(--h1);
  color: var(--text);
}

h2 {
  font: var(--h2);
  color: var(--text);
}

h3 {
  font: var(--h3);
  color: var(--text);
}

p {
  font: var(--p);
  color: var(--text);
}
