@use './light';
@use './dark';

:root {
  color-scheme: light dark;

  --bg: light-dark(#{light.$bg}, #{dark.$bg});
  --bg-light: light-dark(#{light.$bg-light}, #{dark.$bg-light});
  --bg-dark: light-dark(#{light.$bg-dark}, #{dark.$bg-dark});
  --text: light-dark(#{light.$text}, #{dark.$text});
  --text-dim: light-dark(#{light.$text-dim}, #{dark.$text-dim});
}


[data-theme='dark'] {
  color-scheme: dark;
}

[data-theme='light'] {
  color-scheme: light;
}
